fieldset {
  margin: 20px;
}

#breedlistfieldset{
  display: none;
}

#quizstart{
  display: none;
  flex-direction: column;  
}

#question2{
  display: none;
  flex-direction: column;  
}

#question3{
  display: none;
  flex-direction: column;  
}